@import url('https://fonts.cdnfonts.com/css/socake');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

h1 {
  text-align: center;
  font-family: 'Socake';
  font-size: 40px;
  color:black;
  margin-bottom: 0px;
  padding-top: 17px;
}

#brand {
  font-size: 40px;
  font-family: 'Socake', sans-serif;
  color: white;
}

#top-navbar{
  background-color: gainsboro;
}

@media (max-width: 991px) {
  h1 {
    display: none;
  }
}

@media (min-width: 992px) {
  #brand {
    display: none;
  }
}

@media (max-width: 501px) {
  #bottom-navbar{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #brand{
    font-size: 50px;
  }
  #home-page,
  #shop,
  #favorites,
  #locations,
  #all-about-juliet,
  #customer-service,
  #donations, 
  #music{
    font-size: 22px;
  }
}

#greys-anatamy{
  background-color:#efefef;
}

#navebar{
  padding-top: 0px;
  padding-bottom: 0px;
}

#home-page,
#shop,
#favorites,
#locations,
#all-about-juliet,
#customer-service,
#donations, 
#music{
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 5px;
  margin-left: 5px;
  color: #fff;
  background-color: #000;
  font-family: "Manrope";
}

#bottom-navbar {
  background-color: #000;
  padding-top: 5px;
  padding-bottom: 5px;
}