@import url('https://fonts.googleapis.com/css2?family=Bellota:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellota:ital@1&family=Nanum+Pen+Script&family=Quicksand:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital@0;1&display=swap');

.website-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: .9px;
  border-color: lightgray;
  padding: 15px;
  margin: 3px;
}

.grid, .favorites-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width:701px) {
  .grid, .favorites-grid{
    grid-template-columns: 1fr;
  }
} 

@media only screen and (min-width:702px) and (max-width:991px) {
  .grid, .favorites-grid{
    grid-template-columns: 1fr 1fr;
  }
}




.website-button {
  text-decoration: none;
  background-color: #ADFEC6;
  color: #5B5E6C;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: Quicksand;
  font-size: 16px;
}

.product-image {
  margin-bottom: 10px;
  height: 250px;
  object-fit: cover;
}

.product-name {
  font-family: Bellota;
  font-weight: bold;
  color: #A0AAB3;
}

#sephora-image {
  width: 100px;
}

#lulu-image {
  width: 140px;
}

.favorites-button {
  background: none;
  border: none;
  text-decoration: none;
  
}

.clear-heart{
  width:15px;
}

#UO-top {
  width: 140px;
}

#uo-button {
  font-size: 15.2px;
}

#Av-Image {
  width: 150px;
}

.favorites-section{
  margin-bottom: 30px;
}

.favorites-header{
  font-family:  "Playwrite GB S";
  font-size: 35px;
  text-align: center;
  margin: 0px;
}